include ../__mixins

#main-stats.slideToggleEffect.slideOut(ng-if='viewPaste')
    #backlogStats(hover='backlog-graph-view', left)
        +icon('graph_pie')
    .stats-row
        .col-md-3.stat
            .data
                span.number {{totals.reqs}}
                | Courses
            span.date
                b(style='color:#32a0ee') {{totals.reqsTDY}}&nbsp;
                | Require TDY

        .col-md-3.stat
            .data
                span.number {{totals.students}}
                | Students
            span.date
                b(style='color:#32a0ee') {{totals.pctStudents}}%&nbsp;
                | Backlogged

        .col-md-3.stat
            .data
                span.number {{totals.avg[1]}}
                | {{totals.avg[2]}}
            span.date Average Wait Time

        .col-md-2.stat.last
            .data
                span.number {{totals.max[1]}}
                | {{totals.max[2]}}
            span.date Longest Wait Time

    //br
        div
            .graph.pull-left(width='.65', height='250', type='bar')
            .graph.pull-right(width='.32', height='250', type='pie')
            .clearfix

.clearfix

#backlogRequests.am-slide-right.col-lg-3(ng-if='requests.display')

    h3 {{requests.count}} Seats Requested

    .wrapped

        .well.well-sm.am-fade-and-slide-top(ng-repeat='(unit, courses) in requests.display')

            h4.animateColorFast(class='btn-{{courses[0].Type}}', ng-click='edit(true, courses)') {{unit}}
                .pull-right.white
                    +icon('add')
                    +icon('arrow-circle-o-right')

            ul.list-group(style='margin:0')
                li.list-group-item(ng-repeat='crs in courses', ng-class='{limit:(crs.Over ||crs.Under)}')
                    span.badge {{crs.Count}}
                    h5: span.a(scroll-to='crs.course.PDS') {{crs.course.Number}}

#scrollTarget.wrapped.addNew(class='{{requests.display === false ? "col-lg-12" : "col-lg-9"}}', ng-any-drop, style='padding-top:10px')

    .no-pad

        #dragIcon
            +icon('insert')

        +userInstructions('generate-898', true)

        .pull-left(hover="backlog-drag-drop", text-parser='Import IMDS AAA Background Product')

        .pull-right(data-content-template='/partials/aaa-paste-text.html',
                    bs-modal='modal',
                    style='margin-right:3em!important',
                    ng-show='viewPaste')

            label.btn.btn-info.btn-labeled.white
                span.btn-label
                    +icon('search')
                | Inspect Evaluated AAA Data


        .clearfix

        br

        +grouping()

            .well(id='{{row.course.PDS}}', ng-repeat='row in group'
            ng-class='{priority:row.priority, archived:row.Archived, updated:row.updated}')

                .h4
                    +icon('flag')

                    .btnFake.white(class='btn-{{requestType(row)}}')
                        span.bigLetter {{row.requirements.length}}
                        span {{row.course.PDS}}&nbsp;
                        span
                            +icon('plane')
                            +icon('exclamation-circle')

                    .pull-right.w75(style='position:relative;top:.2em')
                        span.pull-right(hover='This is a priority course (listed on the CAF/MCL).')
                            +icon('asterisk')
                        .truncate.text-right(style='margin-top:5px') {{row.course.Title}}

                hr.rollup

                .rollup.slide

                    .row(style='margin-top:-20px')
                        .col-lg-4
                            table.table.table-split
                                tbody
                                    tr
                                        td {{row.course.MDS}}
                                        td {{row.course.Number}}

                        .col-lg-4
                            table.table.table-split
                                tbody
                                    tr
                                        td Length
                                        td {{row.course.Days}} Days / {{row.course.Hours}} Hours

                        .col-lg-3
                            table.table.table-split
                                tbody
                                    tr
                                        td Limits
                                        td {{row.course.Min}} Min / {{row.course.Max}} Max

                    br

                    .alert.alert-danger(ng-if='!row.detRequest')
                        .lead *** No available FTD's found! ***
                        p: b Please verify {{row.course.PDS}} is the course required for the student(s) listed below:
                        p: ol: li(ng-repeat="r in row.requirements") {{r.name}}
                        unbind

                    .row(ng-if='row.detRequest')
                        .col-lg-3
                            table.table.table-split.table-hover
                                thead: tr: th.truncate(colspan='2') 1. Choose an FTD

                                    tbody
                                        tr(ng-repeat="u in row.listFTD")
                                            td(style='width:125px;border-right:none') {{u.distance}}
                                            td.truncate
                                                input.css-checkbox(type='radio',
                                                name='unit{{row.course.Id}}',
                                                ng-model='$parent.$parent.row.detRequest',
                                                ng-value='u'
                                                ng-change='checkStudent(row)')
                                                label.css-label &nbsp;&nbsp;&nbsp;{{u.LongName}}

                        .col-lg-2

                        .col-lg-7(style='overflow:hidden;margin-left:-1%')
                            table.table.table-split.table-hover
                                thead: tr: th.truncate(colspan='2') 2. Choose students
                                tbody
                                    tr(ng-repeat='r in row.requirements')
                                        td(style='border-right:none')
                                            | {{r.dueDate}}
                                            .pull-right.muted(hover='IMDS Text Verification', content='{{r.text}}')
                                                +icon('search')

                                        td.truncate(style='display:block')
                                            input.css-checkbox(type='checkbox',
                                            ng-model='r.selected',
                                            ng-change='checkStudent(row)')
                                            label.css-label &nbsp;&nbsp;&nbsp;{{r.name}}


                            .text-danger.am-fade-and-slide-bottom.text-center
                                em(ng-if='row.Over') FYI, you've exceeded this course's max capacity
                                em(ng-if='row.Under') FYI, you're under the student minimum for this course

                .clearfix

            .clearfix
