include ../__mixins

#main-stats.slideToggleEffect.slideOut
    #backlogStats(hover='backlog-graph-view', left)
        +icon('graph_pie')
    .stats-row
        .col-md-3.stat
            .data
                span.number {{totals.reqs}}
                | Courses
            span.date
                b(style='color:#32a0ee') {{totals.reqsTDY}}&nbsp;
                | Require TDY

        .col-md-3.stat
            .data
                span.number {{totals.students}}
                | Students
            span.date
                b(style='color:#32a0ee') {{totals.pctStudents}}%&nbsp;
                | Backlogged

        .col-md-3.stat
            .data
                span.number {{totals.avg[1]}}
                | {{totals.avg[2]}}
            span.date Average Wait Time

        .col-md-2.stat.last
            .data
                span.number {{totals.max[1]}}
                | {{totals.max[2]}}
            span.date Longest Wait Time

    //br
        div
            .graph.pull-left(width='.65', height='250', type='bar')
            .graph.pull-right(width='.32', height='250', type='pie')
            .clearfix
.clearfix

#backlogRequests.col-lg-3

    h3(style='border-bottom: 1px solid; margin-top:20px; margin-bottom:15px') Requested Training

    div(ng-hide='requests.display')
        +userInstructions('generate-898')

    .well.well-sm.am-fade-and-slide-bottom(ng-repeat='(unit, courses) in requests.display')

        h4(class='btn-{{courses[0].Type}}') {{unit}}

        ul.list-group(style='margin:0')
            li.list-group-item(ng-repeat='crs in courses')
                span.badge {{crs.Count}}
                h5 {{crs.Number}}

.wrapped.addNew
    .col-lg-9.no-pad
        +grouping()

            .well(ng-repeat='row in group',
                   ng-class='{priority:row.priority, archived:row.Archived, updated:row.updated}')

                h4
                    +icon('flag')

                    span.btn.w15(class='btn-{{requestType(row)}}')
                        span.bigLetter {{row.requirements.length}}
                        span(style='font-size:1.25em') {{row.PDS}}&nbsp;

                    span.pull-right(hover='This is a priority course (listed on the CAF/MCL).')
                        +icon('asterisk')
                    .pull-right.w75.truncate.text-right(style='margin-top:5px') {{row.Title}}

                hr.rollup

                .rollup.slide

                    .row(style='margin-top:-20px')
                        .col-lg-4
                            table.table.table-split
                                tbody
                                    tr
                                        td {{row.MDS}}
                                        td {{row.Number}}

                        .col-lg-4
                            table.table.table-split
                                tbody
                                    tr
                                        td Length
                                        td {{row.Days}} Days / {{row.Hours}} Hours

                        .col-lg-3
                            table.table.table-split
                                tbody
                                    tr
                                        td Limits
                                        td {{row.Min}} Min / {{row.Max}} Max

                    br

                    .alert.alert-danger(ng-if='!row.detRequest')
                        .lead *** No available FTD's found! ***
                        p: b Please verify {{row.PDS}} is the course required for the student(s) listed below:
                        p: ol: li(ng-repeat="r in row.requirements") {{r.StudentName}}
                        unbind

                    .row(ng-if='row.detRequest')
                        .col-lg-3
                            table.table.table-split.table-hover
                                thead: tr: th.truncate(colspan='2') 1. Choose an FTD

                                    tbody
                                        tr(ng-repeat="u in row.listFTD")
                                            td(style='width:125px;border-right:none') {{u.distance}}
                                            td.truncate
                                                input.css-checkbox(type='radio',
                                                                name='unit{{row.Id}}',
                                                                ng-model='$parent.$parent.row.detRequest',
                                                                ng-value='u'
                                                                ng-change='checkStudent(row)')
                                                label.css-label &nbsp;&nbsp;&nbsp;{{u.LongName}}

                        .col-lg-2

                        .col-lg-7(style='overflow:hidden;margin-left:-1%')
                            table.table.table-split.table-hover
                                thead: tr: th.truncate(colspan='2') 2. Choose students
                                    tbody
                                        tr(ng-repeat="r in row.requirements")
                                            td(style='border-right:none') {{r.waited}}
                                            td.w85.truncate(style='display:block')
                                                input.css-checkbox(type='checkbox',
                                                                    ng-model='r.selected',
                                                                    ng-change='checkStudent(row)')
                                                label.css-label &nbsp;&nbsp;&nbsp;{{r.StudentName}}

                .clearfix

            .clearfix
