#main-stats
    .row.stats-row
        .col-md-3.col-sm-3.stat
            .data
                span.number {{totals.reqs}}
                | Courses
            span.date Backlogged
        .col-md-3.col-sm-3.stat
            .data
                span.number {{totals.students}}
                | Students
            span.date Backlogged
        .col-md-3.col-sm-3.stat
            .data
                span.number {{totals.avg[1]}}
                | {{totals.avg[2]}}
            span.date Average Wait Time
        .col-md-3.col-sm-3.stat.last
            .data
                span.number {{totals.max[1]}}
                | {{totals.max[2]}}
            span.date Longest Wait Time

div
    nvd3-pie-chart(data='graphs.reqs',
                    id='pieReqs',
                    width='250',
                    height='250',
                    x='d3.x()',
                    y='d3.y()',
                    donut='true',
                    tooltips='true',
                    color="d3.color()")
        svg

div(class='{{wellCollapse}}')

    div(ng-repeat='(header, group) in groups')

        h3(style='border-bottom: 1px solid; margin-top:20px; margin-bottom:15px')
            | {{header}}
            span.pull-right {{group.length}}

        .well(ng-repeat='row in group', ng-once)

            h4
                span.btn.btn-info
                    span.bigLetter {{row.requirements.length}}
                    | {{row.Number}} Requirement
                span.pull-right(style='margin-top:5px') {{row.Title}} -&nbsp;
                    b {{row.PDS}}

            hr.rollup

            .rollup.slide

                .col-lg-3


                    table.table.table-split
                        tbody
                            tr
                                td MDS
                                td {{row.MDS}}
                            tr
                                td AFSC
                                td {{row.AFSC}}
                            tr
                                td Length
                                td {{row.Days}} Days / {{row.Hours}} Hours
                            tr
                                td Limits
                                td {{row.Min}} Min / {{row.Max}} Max
                            tr
                                td Local FTD
                                td {{row.localFTD}}

                    table.table.table-split(ng-if='row.listFTD.length > 0')
                        thead: tr: th.truncate(colspan='2') Additional Locations Taught

                        tbody
                            tr(ng-repeat="u in row.listFTD | orderBy:'distanceInt'")
                                td {{u.distance}}
                                td {{u.LongName}}

                .col-lg-1


                .col-lg-3
                    table.table.table-split
                        tbody
                            tr
                                td Required #
                                td {{row.requirements.length}} student(s)

                            tr
                                td Avg Wait
                                td {{row.avgWait}}

                            tr
                                td Longest Wait
                                td {{row.maxWait}}


            .clearfix

        .clearfix