mixin pageHead()
    doctype html
    html(lang='en', ng-app='FTSS')

        head

            //  The MIT License (MIT)

                982 TRG Field Training Support System v3

                Copyright (C) 2014 Jeff McCoy < code@jeffm.us >

                jeffmccoy.mit-license.org

            meta(charset='utf-8')
            meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
            title(ng-bind-template='FTSS {{page()}}')

            block


mixin icon(tag, viewbox)
    label
        if viewbox
            svg.icon(class=tag + ' icon-' + tag, viewBox=viewbox)
                use(xlink:href='#icon-' + tag)
        else
            svg.icon(class=tag + ' icon-' + tag, viewBox='0 0 32 32')
                use(xlink:href='#icon-' + tag)



mixin link(page, tag, name)
    li(class=page)
        .pointer
            .arrow
            .arrow_border
        span.link(ng-click='fn.doNavigate("' + page + '")')
            +icon(tag)
            span= name



mixin grouping()
    div(class='{{wellCollapse}}')

        div(ng-repeat='(header, group) in groups')

            h3(ng-if='header', style='border-bottom: 1px solid; margin-top:20px; margin-bottom:15px')
                | {{header}}
                span.pull-right {{group.length}}
            block



mixin tableHeader(addNew, columns)
    +pageHelpMessage()

    if addNew
        .add-button.btn.btn-labeled.btn-success(ng-click='edit(true)')
            span.btn-label.white
                +icon('add')
            span.text  &nbsp;Add&nbsp;
                =addNew

    +grouping()

        .rollupContainer
            table.table.table-striped.table-expanded.table-hover.rollup

                thead
                    th
                    each width, label in columns
                        th(class='w' + width)= label
                    th.w15.text-center Actions

                tbody
                    tr.middle.am-fade-and-scale(ng-repeat='row in group',
                    ng-class='{priority:row.priority, archived:row.Archived, updated:row.updated}',
                    ng-dblclick='edit(false)',
                    id='row-{{row.Id}}')
                        once
                            block



mixin googleMap(small)
    if small
        a.no-toggle(href='https://www.google.com/maps/@{{row.Location | nospace}},12z', target='_blank', right
            hover="<img style='width:600px;height:500px' src='http://maps.google.com/maps/api/staticmap?center={{row.Location | nospace}}&zoom=12&size=600x500&sensor=false'/>")
            img.img-thumbnail(ng-src='http://maps.google.com/maps/api/staticmap?center={{row.Location | nospace}}&zoom=10&size=100x50&sensor=false')

    else
        a(href='https://www.google.com/maps/@{{data.Location | nospace}},12z', target='_blank')
            img#googleModalMap(ng-src='http://maps.google.com/maps/api/staticmap?center={{data.Location | nospace}}&zoom=12&size=400x300&sensor=false')



mixin actions(view, edit, archive, label)
    div.pull-right
        if view
            span.btn.btn-sm.btn-info.btn-muted.no-archive(type='button', ng-click='view()', hover='View ' + label + ' Stats', left)
                +icon('graph_pie')

        if edit
            span.btn.btn-sm.btn-warning.btn-muted.no-archive(type='button', ng-click='edit(false)', hover='Edit ' + label, left)
                +icon('edit')

        if archive
            span.btn.btn-sm.btn-danger.btn-muted.no-archive(type='button', ng-click='archive()', hover='Archive ' + label, left)
                +icon('delete')

            span.btn.btn-sm.btn-success.btn-muted.archive(type='button', ng-click='archive()', hover='Restore ' + label, left)
                +icon('rotate-left')

    unbind



mixin pageHelpMessage()
    .alert.alert-warning.alert-dismissable.am-fade-and-slide-bottom(ng-if='showHelp')
        .close(data-dismiss='alert') &times;
        .pageMessage {{pageMessage}}
        .hideHelp.btn.btn-link(ng-click='hideHelp()', data-dismiss='alert') Don't show this anymore
        .clearfix


mixin modalHeader(create, update)
    .modal-header.caps
        if create
            h3(ng-show='createData')
                +icon('plus-circle')
                | Add&nbsp;
                =create

        if update
            h3(ng-hide='createData')
                +icon('edit')
                | Update&nbsp;
                =update


mixin modalFooter()
    .modal-footer
        .sending(ng-show='submitted')
            spinner(size='2em')
            | Please wait, sending data...
        button.btn.btn-success.btn-labeled(type='button', ng-click='submit()', ng-hide='!modal.$dirty || modal.$invalid || submitted')
            span.btn-label.white
                +icon('check-circle')
            span.text &nbsp;Submit
        button.btn.btn-default(ng-click='close()') Cancel


mixin formGroup(label,explain)

    .form-group(explain=explain, left)
        label.col-lg-2.control-label= label
        .col-lg-9
            block

mixin formGroupTail(model, type, required, helper)

    input.form-control(ng-model=model, type=type, required=required)
    if helper
        .helper= helper


mixin formGroupText(label, model, type, required, helper, explain)

    +formGroup(label, explain)
        +formGroupTail(model, type, required, helper)


mixin formGroupIcon(label, model, type, required, helper, explain, ico)

    +formGroup(label, explain)
        .input-group
            .input-group-addon.w15
                +icon(ico)
            +formGroupTail(model, type, required, helper)

