include ../__mixins

+userInstructions('units', true)

- var columns = {'': 10, Base:15, Detachment:10, Email:40, Details:15}
+tableHeader(false, columns)

    td: +icon('flag')

    td: +googleMap(true)

    td
        b {{row.Base}}

    td {{row.Det}}

    td.lowercase
        a(href='mailto:{{row.Email}}?subject=FTSS', tabindex='-1') {{row.Email}}

    td
        span(ng-show='row.CoursesHover',
                hover='There are {{row.CoursesMap.length}} courses taught at Det {{row.Det}}:',
                content='<dl class="dl-horizontal">{{row.CoursesHover}}</dl>', style='padding:5px')
            +icon('books')

        span(ng-show='row.Instructors',
                hover='There are {{row.InstructorsCount}} instructors assigned to Det {{row.Det}}:',
                content='{{row.Instructors}}',
                left,
                style='padding:5px')
            +icon('instructor')

    td: +actions(true, true, false, 'FTD')